*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
}

a {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.Main {
  background: linear-gradient($shakespear, $blue-zodiac);
}

::-webkit-input-placeholder {
  color: $white-80;
}

:-ms-input-placeholder {
  color: $white-80;
}

::-moz-placeholder {
  color: $white-80;
  opacity: 1;
}

:-moz-placeholder {
  color: $white-80;
  opacity: 1;
}
