*, *:before, *:after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient($shakespear, $blue-zodiac); /* Fx 10+, Op 11.6+, Ch 26+, IE 10 */
}