$header-height: 50px;
$burger-size: 36px;

$white:       #fff;
$white-60: rgba(255, 255, 255, 0.6);
$blue-zodiac: #0D1D3B;

//front wave
$shakespear:  #449DCC;
$boston-blue: #3A92BF;

//back wave
$seagull:  #70C1EB;
$viking: #70B9E0;