$header-height: 50px;
$burger-size: 36px;
$font-size: 14px;

$white:       #fff;
$white-80:    rgba(255, 255, 255, 0.8);
$white-60:    rgba(255, 255, 255, 0.6);
$white-40:    rgba(255, 255, 255, 0.4);
$white-20:    rgba(255, 255, 255, 0.2);
$white-10:    rgba(255, 255, 255, 0.1);
$white-5:    rgba(255, 255, 255, 0.05);
$blue-zodiac: #0d1d3b;

$black-10: rgba(0, 0, 0, 0.1);

//front wave
$shakespear:  #449dcc;
$boston-blue: #3a92bf;

//back wave
$seagull:  #70c1eb;
$viking: #70b9e0;

//$spacing:

$spacer: 8px;

$mdi-font-path: "../fonts";
