.PageSection {
  min-height: 100vh;
  padding-top: $header-height + 50px;
}

.PageSection--main {
  background: url("../img/bg.png");
  z-index: -1;
}

.PageSection--two {
  position: relative;

}

.PageSection--contact {
  min-height: 60vh;
  position: relative;
  z-index: 3;
}

.PageSection--footer {
  position: relative;
  margin-top: -278px;
}

.PageSection__paragraph {
  margin: 0;
  padding: 10px;
  color: $white;
  font-size: 1.3em;
  line-height: 24px;
}

.PageSection__content {
  width: 88%;
  margin: 0 auto;
}

.Heading {
  text-align: center;
  z-index: 1;
  padding: 24px 0 42px;
}

.Heading__text {
  color: $white;
  font-weight: 300;
  font-size: 3em;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Heading__logo {
  width: 56px;
  margin-bottom: 24px;
}

.DiveDown {
  text-align: center;
}

.DiveDown__diver {
  width: 32px;
  margin-bottom: 12px;
}

.DiveDown__spacer {
  height: 32px;
  width: 3.5px;
  margin: 0 auto;
  background: url("../img/dots.svg");
}

.DiveDown__text {
  color: $white-60;
}

.More {
  width: 100%;
  text-align: center;
}

.More__text {
  color: $white;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
  padding: $spacer $spacer * 2;
  background: $blue-zodiac-50;
  border-radius: 3px;
}
