.PageSection {
  min-height: 100vh;
  padding-top: $header-height;
}

.PageSection--main {
  background: url("../img/bg.png");
}

.PageSection--footer {
  position:relative;
}

.PageSection__paragraph {
  margin: 0;
  padding: 10px;
  color: $white;
}

.Heading {
  text-align: center;
  z-index: 1;
  padding: 24px 0 42px;
}

.Heading__text {
  color: $white;
  font-weight: 300;
  font-size: 3em;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Heading__logo {
  width: 56px;
  margin-bottom: 24px;
}

.DiveDown {
  text-align: center;
}

.DiveDown__diver {
  width: 32px;
  margin-bottom: 12px;
}

.DiveDown__spacer {
  height: 32px;
  width: 3.5px;
  margin: 0 auto;
  background: url("../img/dots.svg");
}

.DiveDown__text {
  color: $white-60;
}