.ContactForm {
  margin: 0 ($spacer * 2);
}

.ContactInput {
  position: relative;
  margin: 0 0 ($spacer * 2);
}

.ContactInput__field {
  padding: ($spacer * 2) ($spacer * 2) ($spacer * 2) ($spacer * 6);

  &,
  &:focus {
    background: linear-gradient(to bottom, $white-10, $white-5);
    border: 1px solid $white-40;
    outline: 0;
  }
}

.ContactInput__submit,
.ContactInput__field {
  width: 100%;
  border-radius: 2px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 1px 1px 1px 1px $black-10;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
}

.ContactInput__submit {
  padding: ($spacer * 2);

  &,
  &:focus {
    outline: 0;
    border: 1px solid $white-40;
    background: $white-80;
  }
}

.ContactInput__icon {
  position: absolute;
  top: $spacer * 2;
  left: $spacer * 2;
  font-size: 1em;
  color: $white-80;
}

.ContactInput__name {

}

.ContactInput__mail {

}

.ContactInput__message {
  min-height: 200px;
}