.FooterSand {
  position: absolute;
  bottom: 0;
  height: 42%;
  width: 100%;
}

.FooterSand__front {
  position: absolute;
  display: flex;
  background: url("../img/sand-layer0.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 109%;
}

.FooterSand__back {
  background: url("../img/sand-layer1.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 109%;
}

.SparklySand {
  position: absolute;
  top: 0;
  z-index: 1;

  canvas {
    position: absolute;
    top: 0;
  }
}

.PageSection--footer--paragraph-indexseite{
  position: absolute;
  color: #e3bc86;
  float: right;
  text-align: center;
  top: 31%;
  right: 50px;
  font-size: 21px;
  text-transform: uppercase;
}
