.FooterSand {
  position: absolute;
  bottom: 0;
  height: 42%;
  width: 100%;
}

.FooterSand__front {
  position: absolute;
  display: flex;
  background: url("../img/sand-layer0.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.FooterSand__back {
  background: url("../img/sand-layer1.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.SparklySand {
  position: absolute;
  top: 0;
  z-index: 1;

  canvas {
    position: absolute;
    top: 0;
  }
}
