.Header {
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.Header__title {
  margin: 0;
  color: $white;
  line-height: $header-height;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  flex: 1;
  margin-left: calc(-#{$burger-size} / 2);
}
