.Nav {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 17px;
}

.Burger {
  width: $burger-size;
  height: $burger-size;
  position: relative;
  padding: 9px 4px;
  z-index: 100;
  cursor: pointer;

  &:hover {
    .Burger__line--right {
      margin-left: 3px;
    }

    .Burger__line--left {
      margin-left: 3px;
    }
  }
}

.Burger__line {
  width: 23px;
  height: 3px;
  background-color: $white;
  margin-bottom: 4px;
  transition: 0.05s all ease-in-out;
}

.Burger__line--left {
  position: relative;
}

.Burger__line--right {
  position: relative;
  margin-left: 6px;
}

.Menu {
  position: fixed;
  display: none;
  background-color: $white-60;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;

  ul {
    position: relative;
    list-style: none;
    text-align: center;
    font-size: 24px;
    color: $white;
    width: 100%;
    padding: 0;
  }

  li {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $white;
  }
}
