.PageSection__contentOnePage {
  background-color: $white;
  margin-top: 20px;
  min-height: 90vh;
  color: black;
  padding: 20px;
  position:relative;
  padding-bottom: 270px;
  top:-5px;
  border-radius: 20px;
}

.FooterSand__frontSideTemplate {
  position: absolute;
  background: url("../img/sand-layer0.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 101%;
  z-index: 2;
}

.FooterSand__backSideTemplate {
  background: url("../img/sand-layer1.svg") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  z-index: 1;
}

.PageSection--footerSideTemplate{
  position: absolute;
  min-height: 250px;
  max-height: 250px;
  width: 100%;
  bottom:0;
}

.Header--content {
  background: $blue-zodiac;
}
