.PageSection__contentOnePage {
  background-color: $white;
  min-height: 80vh;
  color: black;
  padding: 20px;
  position:relative;
  padding-bottom: 270px;
  top:-5px;
  border-radius: 20px;
}

.FooterSand__frontSideTemplate {
  position: absolute;
  background: url("../img/sand-layer0.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 110%;
  z-index: 1;
}

.FooterSand__backSideTemplate {
  background: url("../img/sand-layer1.svg") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 110%;
  z-index: 0;
}

.PageSection--footerSideTemplate{
  position: absolute;
  min-height: 250px;
  max-height: 250px;
  width: 100%;
  bottom:0;
}

.Header--content {
  background: $blue-zodiac;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 50vh;
  padding-bottom:290px;
}

.container__item{
  width: 450px;
  min-height: 180px;
  margin-bottom:24px !important;
}

.container__item--zuruck{
  align-self: center;
}

.PageSection--footer--paragraph{
  position: relative;
  color: #e3bc86;
  float: right;
  text-align: center;
  top: 31%;
  right: 50px;
  font-size: 21px;
  text-transform: uppercase;
}

.PageSection--footer--paragraph--margin{
  margin-left:20px;
}

.container__item--zuruck--margin{
  margin-top:20px;
}
