.bodyWaves {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  position: absolute;
  bottom:0;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

}

.wave {
  opacity: .97;
  position: absolute;
  bottom:-80%;
  left:-50%;
  background: $seagull;
  width: 200%;
  height: 100%;
  transform-origin: 50% 48%;
  border-radius: 60%;
  animation: drift 30000ms infinite linear;
}


.wave.-two {
  animation: drift 15000ms infinite linear;
  background:$shakespear;
  opacity: .88;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}