.Waves {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.Waves__container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.Waves__wave {
  width: 200%;
  height: 100%;
  position: absolute;
  bottom: -80%;
  left: -50%;
  border-radius: 60%;
  transform-origin: 50% 48%;
}

.Waves__wave--front {
  opacity: .97;
  animation: drift 15000ms infinite linear;
  background: $shakespear;
}

.Waves__wave--back {
  opacity: .88;
  animation: drift 30000ms infinite linear;
  background: $seagull;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}
